repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
      - id: mixed-line-ending
        args: [ --fix=lf ]
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 10a3015f97f5d9d9f4b49a64ac646253980879b2  # frozen: 0.9.25
    hooks:
      - id: uv-lock
      - id: uv-export
        args: ["--quiet", "--frozen", "--all-groups", "--output-file=requirements.txt"]
      - id: uv-export
        args: ["--quiet", "--frozen", "--all-groups", "--format=pylock.toml", "--output-file=pylock.toml"]

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: 7fc963270df722f37707d47ff41265fe8f460822  # frozen: v1.20.0
    hooks:
      - id: zizmor
